 </div>
     <footer>
      <div id="footer-quote">
        <div class="container">
          <div class="contents">
            <div class="quote-icon">
              <i class="fa fa-quote-right"></i>
            </div>
            <span class="quote-name">Joe Pulizzi</span>
            <div class="quote-text">
              Entrepreneurship is the pursuit of opportunity <span class="colored-text">without</span> regard to resources currently controlled.
            </div>
          </div>
        </div>
      </div>
      <div id="bottom">
        <div class="container">
          <ul id="social-icons">
            <li><a href="https://www.youtube.com/c/{{site.youtube_channel}}"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.facebook.com/{{site.facebook_page}}"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/{{site.twitter_user}}"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/{{site.linkedin_page}}"><i class="fa fa-linkedin"></i></a></li>
          </ul>
          <div id="copyright">© COPYRIGHT 2014 @findcongwang.com. ALL RIGHTS RESERVED</div>
          <a id="home-circle" href="{{site.url}}"><i class="fa fa-home"></i></a>
        </div>
      </div>
     </footer>
     <script type="text/javascript" src="{{site.url}}/js/jquery-1.11.0.min.js"></script>
     <script type="text/javascript" src="{{site.url}}/js/custom.js"></script>
  </body>
</html>
